/* estilo.css */

/* Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #A1FFCE;
}

/* Headings */
h1 {
  color: #333;
  font-size: 30px; /* Alterado para 32px */
}

h2 {
  color: #666;
  font-size: 28px; /* Alterado para 24px */
}

/* Product containers */
.container {
  background-color: #FFFFFF;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Product details */
.produto-padrao {
  border: 1px solid #FFFFFF;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #8ac5ff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.produto-destaque {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  background-color: #FFFF99;
}

.produto-destaque img {
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.produto-destaque h1 {
  margin: 0;
  color: #333;
  font-size: 48px;
}
.produto-padrao h1{
  margin: 0;
  color: #333;
  font-size: 24px;
}

/* CSS for larger screens */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* CSS for medium screens */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

/* CSS for smaller screens */
@media (max-width: 576px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
  
  .produto-destaque img {
    max-width: 100%;
  }
}
